<div class="user_page_input__wrapper" >
    <label class="user_page_input__label" for="{{title}}">
        {{label}}
    </label>
    <input
        class="user_page_input__field"
        placeholder="Введите {{label}}"
        name="{{title}}"
        title="{{title}}"
    />
</div>